---
title: Leadlight
layout: layouts/home.njk
description: Personal Blog of A. R. Kane
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  Howdy! Welcome to my internet soapbox. However you've found your way here, I hope you enjoy your stay, but that is 
  not my purpose. I don't expect my words to sway many, or even reach the ears of more than a rare few, but I write 
  this for myself. I chose this technical medium in case others care to read. Even without an audience it helps me to feel heard. - A. R. Kane
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
